.About {
    height: 85vh;
    font-family: 'Oswald', sans-serif;
    background-image: url(https://images.pexels.com/photos/1371606/pexels-photo-1371606.jpeg?cs=srgb&dl=background-dramatic-forest-hdr-1371606.jpg&fm=jpg);
    background-size: cover;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2em;
    box-sizing: border-box;
    margin: 0;

    img {
        border-radius: 100em;
        height: 45vh;
        border: #373537 2px solid;
    }

    p {
        width: 50vw;
        text-align: center;
        font-size: 2em;
        border: #373537 2px solid;
        border-radius: 2em;
        padding: 1em;
        background-color: #f1f2d5;
    }
}