.Contact {
    padding-top: 5vh;
    height: 85vh;
    font-family: 'Oswald', sans-serif;
    background-image: url(https://images.pexels.com/photos/979515/pexels-photo-979515.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-size: cover;
    box-sizing: border-box;

    .content {
        background-color: #f1f2d5; 
        border-radius: 2em;
        width: 50vw;
        margin: auto;
        padding: 2em;
    }

    .imgContainer {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 50vw;
        }
    }
    .container {
        margin-top: 2vh;
        display: flex;
        justify-content: space-evenly;

        div {
            width: 40vw;
            text-align: center;
        }
        button {
            text-align: center;
            width: 8em;
            height: 2.8em;
            background-color: #373537;
            color: white;
            border-radius: 2em;
        }
        button:hover {
            background-color: black;
        }
    }
}