.Header {
    display: flex;
    background-color: #373537;
    height: 200px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    box-sizing: border-box;
    margin: 0;

    .headerText {
        display: flex;
        flex-direction: column;
        flex: 1;
        text-align: center;
        justify-content: center;
        color: #f1f2d5;

        p {
            margin: -15px 0 25px 0;
            font-size: 2em;
            letter-spacing: 0.2em;
        }
    }

    h1 {
        font-size: 5em;
        margin: 0;
        letter-spacing: 0.05em;
    }
}