.Navigation {
    position: fixed;
    top: 0;
    right: 0;

    #placeholder {
        position: fixed;
        top: 0;
        right: 0;
    }

    button {
        color: white;
        border: none;
        background-color:  #373537;
        font-size: 6.0em;
    }
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 12.5vw;
        margin: 0;
    }
    
    a {
        margin: 0;
        padding: .25em;
        width: 100%;
        text-decoration: none;
        color: black;
        background-color: #f1f2d5;
    }
}
